/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
}

body {
	font-family: var(--font-inter), system-ui, sans-serif;
}

h1,
h2,
h3,
.title,
.logo-text {
	font-family: var(--font-gamepaused), sans-serif;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
	:root {
		scroll-behavior: smooth;
	}
}

html.noscroll,
body.noscroll {
  overflow: hidden;
  height: 100%;
}


body {
	background: #1e011e;
	overflow-x: hidden;
	// * {
	// 	outline: 1px solid red;
	// }
}

.container__fluid {
	padding-left: 16px;
	padding-right: 16px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	.container {
		padding-left: 0;
		padding-right: 0;
	}
}

.container {
	padding-left: 16px;
	padding-right: 16px;
	max-width: 1240px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	@media (min-width: 1200px) {
		max-width: 1320px;
	}
}

.page__policy {
	padding: 40px 0;
	header,
	section {
		padding-top: 10px;
		padding-bottom: 20px;
		h1,
		h2,
		h3,
		h4 {
			padding-bottom: 10px;
			font-style: normal;
			font-weight: 400;
			font-size: 20px;
			line-height: normal;
			color: #ffffff;
		}

		ul li,
		p {
			font-family: "Inter";
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 22px;
			color: #ffffff;
		}
		a {
			color: #ffffff;
		}
		ul {
			padding-left: 40px;
			li {
				list-style: disc;
			}
		}
	}
}
