.about {
  padding-top: 40px;
  padding-bottom: 40px;
  @media (min-width: 768px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .about__wrapper {
    display: grid;
    gap: 20px;
    align-items: center;
    grid-template-columns: 1fr;
    @media (min-width: 768px) {
    max-width: 1030px;
      grid-template-columns: 1fr 1fr;
    }
  }
  .image{
    width: 100%;
    height: auto;
    @media (min-width: 768px) {
      width: 400px;
    }
  }
  .content {
    @media (min-width: 768px) {
      max-width: 554px;
      margin-right: 0;
      margin-left: inherit;
    }
    .title {
      font-family: var(--font-gamepaused);
      font-style: normal;
      font-weight: 400;
      font-size: 48px;
      line-height: 53px;
      color: #f2eb1f;
      padding-bottom: 16px;
    }
    .text {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: #ffffff;
    }
  }
}
