.footer {
  background-color: #7729aa;
  padding-top: 24px;
  padding-bottom: 24px;
}

.footer__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }
  .links {
    text-align: center;
    @media (min-width: 768px) {
      text-align: left;
    }
    a {
      font-family: "Inter";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      /* identical to box height, or 114% */
      /* Primary/White */
      color: #ffffff;
      padding-right: 16px;
      @media (min-width: 768px) {
        padding-right: 24px;
      }
    }
  }
  .copy {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */
    /* Primary/White */
    color: #ffffff;
    padding-top: 8px;
    @media (min-width: 768px) {
      padding-top: 0;
    }
  }
}
