.header {
  background-color: #f6bb17;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navDesktop {
    display: none;
    @media (min-width: 992px) {
      display: block;
    }
    a {
      display: inline-block;
      padding: 0 20px;
      font-family: var(--font-gamepaused);
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 22px;
      /* identical to box height */
      /* primary/dark purple */
      color: #1e011e;
      &:last-child {
        border: 0;
        padding: 12px 40px;

        background: #7729aa;
        border-radius: 8px;

        font-family: var(--font-gamepaused);
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 22px;
        /* identical to box height */
        color: #ffffff;
      }
    }
  }

  .burger {
    flex-direction: column;
    justify-content: space-between;
    width: 28px;
    height: 20px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    @media (min-width: 992px) {
      display: none;
    }

    span {
      display: block;
      height: 2px;
      width: 100%;
      background-color: #000; // change to your theme color
      border-radius: 2px;
      transition: all 0.3s ease;
    }

    &.burgerActive {
      span:nth-child(1) {
        transform: rotate(40deg)translate(7px, 6px);
      }

      span:nth-child(2) {
        opacity: 0;
      }

      span:nth-child(3) {
        transform: rotate(-40deg) translate(6px, -6px);
      }
    }
  }

  .mobileWrap {
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition:
      opacity 0.3s ease,
      visibility 0.3s ease;
    z-index: 100;
    // background: rgba(0, 0, 0, 0.6);
    &.open {
      opacity: 1;
      visibility: visible;
    @media (min-width: 992px) {
      display: none;
    }
    }

    .mobilePanel {
      // background: #fff;
      // max-width: 300px;
      background-color: #f6bb17;
      width: 100%;
      height: 100%;
      transform: translateY(100%);
      transition: transform 0.3s ease;
    }

    &.open .mobilePanel {
      transform: translateY(100px);
      padding-top: 16px;
    }

    .navMobile {
      display: flex;
      flex-direction: column;

      a {
        display: inline-block;
        padding: 0 20px;
        margin-bottom: 8px;
        font-family: var(--font-gamepaused);
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 22px;
        /* identical to box height */
        /* primary/dark purple */
        color: #1e011e;
        &:last-child {
          border: 0;
          margin-top: 20px;
          padding: 12px 40px;
          background: #7729aa;
          border-radius: 8px;
          font-family: var(--font-gamepaused);
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 22px;
          /* identical to box height */
          color: #ffffff;
        }
      }
    }
  }
}
